<link rel="stylesheet" href="css/compiler.css" />
<link rel="stylesheet" type="text/css" href="plugin/codemirror/lib/codemirror.css">
<!-- <script src="https://cdn.alloyui.com/3.0.1/aui/aui-min.js"></script> -->
<!-- <link href="https://cdn.alloyui.com/3.0.1/aui-css/css/bootstrap.min.css" rel="stylesheet"></link> -->
<link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Gloria+Hallelujah&family=Otomanopee+One&family=Zen+Tokyo+Zoo&display=swap" rel="stylesheet">
<script type="text/javascript" src="plugin/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/dracula.min.css" integrity="sha512-gFMl3u9d0xt3WR8ZeW05MWm3yZ+ZfgsBVXLSOiFz2xeVrZ8Neg0+V1kkRIo9LikyA/T9HuS91kDfc2XWse0K0A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/python/python.min.js" integrity="sha512-uClAZvjjJrwJN8QakX7+03YbWHtx6ZcTw8JoDPucqzviDCYF3QEZNaRXyu1dxdfKm1g/TQ409Ko3CAdb6zXnnA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/javascript/javascript.min.js" integrity="sha512-9mEZ3vO6zMj0ub2Wypnt8owrHeoJCH22MkzeJ9eD3hca8/Wlqo5pEopI6HloA0F53f/RkRkHs8TyZMxbwVmnFw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/clike/clike.min.js" integrity="sha512-m3ghu/xpRyZKDD9RVnxZIT8+lYTjrh7tAz7xbj94du1+3voHC2llSKQQOywnxkYzPcjexBUwf2nhGV9caxlEZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/javascript/javascript.min.js" integrity="sha512-9mEZ3vO6zMj0ub2Wypnt8owrHeoJCH22MkzeJ9eD3hca8/Wlqo5pEopI6HloA0F53f/RkRkHs8TyZMxbwVmnFw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../assets/plugin/mode/clike"></script>
<script src="../assets/plugin/mode/javascript"></script>

<!-- <script src="../assets/plugin/mode/clike></script> -->

<div id="header-div"> 
  <p><span id="codeo">Codeo</span><<span id="star">*</span>><span id="city">City</span></p>
</div>

  <div id="form-Container">
    <form action="/send/request" id="code-form" method="POST">
      
      <textarea
        name="code"
        id="code"
        placeholder="Start writing code from here........."
        cols="30"
        rows="10"
        class="codemirror"
        ></textarea>



      <div id="Options">
        <div id="input-language">
          <label for="category">Language:&nbsp </label>
          <select name="Language" id="category-header">
              <option value="py">Python</option>
              <option value="java">Java</option>
              <option value="cpp">C++</option>
              <option value="c">C</option>
              <option value="cs">C#</option>
              <option value="rb">Ruby</option>
              <option value="kt">Kotlin</option>
              <option value="swift">Swift</option>
          </select>
        </div>




        <input id="run-btn"  type="submit" value="Compile and Run" />

        <textarea
          name="input"
          id="input"
          placeholder="Enter input here"
          cols="30"
          rows="10"
        ></textarea>
      </div>

    </form>


    <%- include('output')%>

  </div>
<script src="/js/script.js"></script>


 
