

#Container{
  display: flex;
  flex-direction: row;
}

/*------------ Header-------------- */
#header-div{
  height:7.5vh;
  text-align: center;
  overflow: hidden;
  border-top: 1px solid white;
  background-color: #111a1a;
  color: white;
  letter-spacing: 3px;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 0px 0px 10px rgb(37, 35, 33);
}


#header-div p{
  font-size:2.1rem;
  margin-top: 6px;
}
#star{
  color:rgb(255, 0, 98);
}
#city{
  
  color: rgb(77, 245, 119);
  color:rgb(226, 135, 253);
  font-family: 'Zen Tokyo Zoo', cursive;
  font-family: 'Bungee Shade', cursive;

}
#codeo{
  color: rgb(77, 245, 119);
  font-family: 'Times New Roman', Times, serif;
}
#Options{
  width: 99%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 7px 25px ;

}
/*------------ main window------------- */
#form-Container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  height:100%;
  background-color: none;
}

form{
  width:72.5%;
  display: flex;
  flex-direction: column;
}
#Output-window {
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  background-color: rgb(22, 24, 42);
  width: 26%;
  height: 91vh;
  right:0;
  top:7.3vh;
  border: 1px white dashed;
  margin-top: 0.7vh ;
  margin-right: 0.5vw;
}
#output-header{
  color: rgb(7, 255, 172);
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1px;
}

#output{
  margin-left: 1vw;
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: white;
  text-align: center;
}

#code{
  width:100%;
  height:65vh;
  font-size: 1.3rem;
  padding: 15px;
  font-size: 2rem;
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border : white 2px solid;
  border-radius: 10px;
  margin:5px 10px;
  color:white;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  word-spacing: 3px;
}
::placeholder{
  color: white;
}

#category-header{
  margin-top: 1.5vh;
  width:17vw;
  height: 4vh;
  font-size: 1rem;
  background-color: inherit;
  color: rgb(255, 0, 136);
  border: 1px solid white;
  color: white;
  letter-spacing: 1px;
  border-radius: 8px;
  cursor: pointer;
}
select option{
  background-color: black;
  font-family: "Montserrat", sans-serif;
  color: white;
}

#run-btn{
  margin: 12px;
  height: 40px;
  font-size: 0.8rem;
  background-color: rgb(255, 0, 136);
  font-size: 1rem;
  color: white;
  border: none;
  letter-spacing: 1px;
  padding: 0px 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgb(224, 10, 99);
  cursor: pointer;
}

#run-btn:hover{
  color: rgb(255, 0, 136);
  background-color: white;
  box-shadow: 0px 0px 10px white;

}
#input{
  height:25vh;
  width:26vw;
  padding: 12px;
  background-color: black;
  color:white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;

}
label{
  text-align: center;
  font-family: "Montserrat", sans-serif;

}

.CodeMirror {
font-family: Arial, monospace;
font-size: 20px;
}

/* -------------input-language------------ */


#input-language label{
  color:rgb(216, 205, 45);
  text-align: center;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}